@import "~bulma/sass/utilities/initial-variables"

// Config vars

// Old schema
$vb-red: #ec5f67
$vb-red-invert: #fff
$vb-green: #5fb3b3
$vb-light-green: #99c794

// Status schema
$medium-sea-green: #44af69
$sunburnt-cyclops: #f8454d
$gargoyle-gas: #ffee42
$cornflower-blue: #549bf2
$peach: #ffe0b5

// New schema
$dark-spring-green: #11844a
$eton-blue: #7ecaaa
$cyan-cornflower-blue: #2b91c4
$dark-sky-blue: #81cbd9
$granite-gray: #676767

$primary: $dark-spring-green
$primary-invert: #fff

$info: $eton-blue

$link: $cyan-cornflower-blue
$link-hover: $granite-gray

$tech-background-color: $dark-sky-blue
$footer-background-color: $granite-gray

.content-container
  display: flex
  flex-direction: column
  min-height: 100vh
  main
    flex-grow: 1

.panel .panel-block
  .content
    padding: 0.25rem

  .taglist
    list-style: none
    display: flex
    flex-wrap: wrap
    justify-content: left
    align-items: center
    margin: 0
    li
      padding: 0.25rem
      margin-bottom: 0

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.technology.section
  background-color: $tech-background-color

button.scroll-top
  position: fixed
  bottom: 40px
  right: 40px
  border-radius: 50%
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)



@import "./Post"
@import "~bulma"

// Bulma overrides
a.navbar-item:hover
  background-color: #fff