.post-container
  max-width: 780px
  margin: 0 auto
  padding: 40px 20px

  .title + .meta
    margin-top: -1rem;

  figure.post-image
    margin: 0

    figcaption
      text-align: left
      padding: 8px 0

  footer
    margin-top: 60px

    .tags label
      font-weight: bold

.posts-list
  .post
    margin-top: 40px;

    .title
      font-size: 24px;

    .meta
      margin-top: -1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      font-size: 0.8rem;

    .abstract
      padding: 20px 0;

